<template>
    <form v-on:submit.prevent="send">
        <div class="form-group">
            <label>Тип локации</label>
            <b-form-select v-model="form.type" :options="options" required>
                <template v-slot:first>
                    <b-form-select-option :value="null" disabled>-- Выберите тип здания --</b-form-select-option>
                </template>
            </b-form-select>
        </div>
        <div class="form-group">
            <label>Название локации</label>
            <input type="text" class="form-control" v-model="form.title" placeholder="Название локации" required>
        </div>

        <div class="form-group">
            <label>Краткое описание локации</label>
            <textarea class="form-control" v-model="form.description" placeholder="Описание локации" required>
            </textarea>
        </div>

        <div class="form-group">
            <label>Ссылка на изображение локации (или картинка-логотип)</label>
            <input type="text" class="form-control" v-model="form.image" placeholder="Ссылка на изображение" required>
        </div>

        <div class="form-group">
            <label>Позиция в выдаче локации</label>
            <input type="number" disabled min="0" class="form-control" v-model="form.position"
                   placeholder="Позиция в выдаче"
                   required>
        </div>

        <v-jsoneditor v-model="form.geo_coords" :options="settings" :plus="false" :height="'400px'"></v-jsoneditor>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Отправить</button>
        </div>
    </form>
</template>
<script>
    export default {
        props: {
            item: {
                type: Object,
                required: false
            },
            user_id:{
                type:Number,
                required:false
            }
        },
        data() {
            return {
                options: [
                    {value: 0, text: 'Здание'},
                    {value: 1, text: 'Этаж'},
                    {value: 2, text: 'Комната'},
                    {value: 3, text: 'Открытое пространство'},
                ],
                settings: {mode: 'code'},
                form: {
                    geo_coords: {
                        latitude: 0.0,
                        longitude: 0.0,
                        radius: 20,//метры
                        fill: {},
                        stroke: {}
                    },
                    title: '',
                    description: '',
                    image: '',
                    type: null,
                    is_active: true,
                    position: 0,
                    assigned_to_id: null,
                    creator_id:null,
                }
            }
        },
        mounted() {
            if (this.item != null) {
                this.form = this.item
                this.form.geo_coords = JSON.parse(this.form.geo_coords)
            }
        },
        methods: {
            send() {
                window
                    .api
                    .saveInstitution(this)
            }
        },
    }
</script>
