<template>
    <div>
        <div class="card" style="width:100%">
            <img class="card-img-top" :src="item.sticker_image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="#" class="btn btn-outline-primary mt-2" title="Все маркеры в локации"><i
                    class="fas fa-bookmark"></i></a>
                <!-- Все маркеры-->
                <a href="#" class="btn btn-outline-primary mt-2" title="Заведение на карте"><i
                    class="fas fa-map-marked-alt"></i></a>
                <!--Заведение на карте-->
                <a href="#" class="btn btn-outline-primary mt-2" title="Дочерние локации"><i
                    class="fas fa-landmark"></i></a>
                <!--Дочерние локации-->
                <a href="#" class="btn btn-outline-primary mt-2" @click="$bvModal.show(`modal-json-${item.id}`)"
                   title="Информация в json"><i
                    class="far fa-lightbulb"></i></a>
                <!--информация в json-->
                <button @click="duplicate(item.id)" class="btn btn-outline-primary mt-2" title="Дублировать локацию">
                    <i class="far fa-copy"></i></button>
                <!--Дублировать локацию-->
                <a href="#" class="btn btn-outline-primary mt-2"
                   title="Удаление локации со всеми вложенными локациями и маркерами"><i
                    class="fas fa-trash-alt"></i></a>
                <!--удаление локации со всеми вложенными локациями и маркерами-->
                <a href="#" class="btn btn-outline-primary mt-2" @click="$bvModal.show(`modal-json-edit-${item.id}`)"
                   title="Редактировать локацию"><i class="fas fa-edit"></i></a>
                <!--Редактироват локацию-->
            </div>

            <b-modal :id="`modal-json-${item.id}`" size="xl" title="JSON Inspector">
                <div class="row">
                    <div class="col-12">
                        <pre>{{ JSON.stringify(item) | pretty }}</pre>
                    </div>
                </div>
            </b-modal>

            <b-modal :id="`modal-json-edit-${item.id}`" size="xl" title="Редактирование">
                <marker-form :item="item" v-on:submit="update"></marker-form>
            </b-modal>
        </div>

    </div>
</template>
<script>
    import MarkerForm from "./MarkerForm"

    export default {
        props: {
            item: {
                type: Object,
                required: true
            },
        },
        components:{
            MarkerForm
        },
        methods: {
            update(){
                this.$bvModal.hide(`modal-json-edit-${this.item.id}`)
                this.$emit("update")
            },
            duplicate(id) {
                window
                    .api
                    .duplicateMarker(this, id)
            }
        }
    }
</script>
