<template>
    <div style="padding: 2rem 3rem; text-align: left;">

        <div class="container pt-5">
            <div class="row">
                <div class="col-6">

                    <cropper
                        classname="cropper"
                        :src="img"
                        :stencil-props="{
		aspectRatio: 10/12
	}"
                        @change="change"
                    ></cropper>
                </div>
                <div class="col-6">
                    <img :src="img2" v-if="img2!=null" alt="" style="width:100%;">
                </div>
            </div>

        </div>


        <input type="url" v-model="img" class="form-control">
        <button class="btn btn-outline-success" @click="canny">click</button>


        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input :class="['input', ($v.form.username.$error) ? 'is-danger' : '']" type="text"
                       placeholder="Text input"
                       v-model="form.username">
            </div>
            <p v-if="$v.form.username.$error" class="help is-danger">This username is invalid</p>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input :class="['input', ($v.form.demoEmail.$error) ? 'is-danger' : '']" type="text"
                       placeholder="Email input" v-model="form.demoEmail">
            </div>
            <p v-if="$v.form.demoEmail.$error" class="help is-danger">This email is invalid</p>
        </div>
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea :class="['textarea', ($v.form.message.$error) ? 'is-danger' : '']" placeholder="Textarea"
                          v-model="form.message"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {required, email} from 'vuelidate/lib/validators'
    import {Cropper} from 'vue-advanced-cropper'
    import Canny from 'canny-edge-detector'
    import Image from 'image-js'
    import fs from 'browserify-fs'

    export default {
        props: ['clickedNext', 'currentStep'],
        mixins: [validationMixin],
        components: {
            Cropper
        },
        data() {
            return {
                img: 'https://images.pexels.com/photos/226746/pexels-photo-226746.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260',
                img2: null,
                img3:null,
                form: {
                    username: '',
                    demoEmail: '',
                    message: ''
                }
            }
        },
        validations: {
            form: {
                username: {
                    required
                },
                demoEmail: {
                    required,
                    email
                },
                message: {
                    required
                }
            }
        },
        methods: {
            canny() {

                 Image.load(this.img).then((img) => {
                    const grey = img.grey();
                     this.img2  = (Canny(grey)).invert().toDataURL();




                   // let data = edge.save('./edge.png');


                    //console.log(data)
                   // return data
                })


            },
            change({coordinates, canvas}) {
                console.log(coordinates, canvas)
                let oldImg = canvas.toDataURL();

                Image.load(oldImg).then((img) => {
                    const grey = img.grey();
                    const tmp = (Canny(grey));
                    console.log(tmp)
                    this.img2  = tmp.invert().toDataURL();




                    // let data = edge.save('./edge.png');


                    //console.log(data)
                    // return data
                })
            }
        },
        watch: {
            $v: {
                handler: function (val) {
                    if (!val.$invalid) {
                        this.$emit('can-continue', {value: true});
                    } else {
                        this.$emit('can-continue', {value: false});
                        setTimeout(() => {
                            this.$emit('change-next', {nextBtnValue: false});
                        }, 3000)
                    }
                },
                deep: true
            },
            clickedNext(val) {
                console.log(val);
                if (val === true) {
                    this.$v.form.$touch();
                }
            }
        },
        mounted() {
            if (!this.$v.$invalid) {
                this.$emit('can-continue', {value: true});
            } else {
                this.$emit('can-continue', {value: false});
            }
        }
    }
</script>

<style lang="scss">
    .cropper {
        width:100%;
        background: #DDD;
    }
</style>
